<a href="https://colab.research.google.com/github/k3robotics/ML-Essentials/blob/main/LinearAlgebraBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###*Machine Learning Foundations* - Intro to Linear Algebra

####Data Structures for Algebra

Scalars (Rank 0 Tensors) in Base Python

In [ ]:
x = 25
x

25

In [ ]:
type(x) # if more specificity is needed (i.e., int16, unint8), use Numpy

int

In [ ]:
y = 3

In [ ]:
# If you add an int and an int you get a type int as the result
py_sum = x + y
py_sum

28

In [ ]:
type(py_sum)

int

In [ ]:
# If you add a float and an int you get a type float as the result
x_float = 25.0
float_sum = x_float + y
float_sum

28.0

In [ ]:
type(float_sum)

float

###Scalars in PyTorch

*  PyTorch and Tensorflow are the two most popular *automatic differentiation libraries* in Python. Python, of couse, is the most popular programming language in Machine Learning (ML).

*  PyTorch tensors are designed to be pythonic, i.e., to feel and behave like NumPy arrays.

*  The advantage of PyTorch tensors relative to Numpy arrays is that they can be easily used for operations on GPUs.

In [ ]:
import torch

In [ ]:
x_pt = torch.tensor(25) # type specification optional -> torch.tensor(25, dtype=torch.float16)
x_pt

tensor(25)

In [ ]:
x_pt.shape # 0 dimensions

torch.Size([])

#### Scalars in TensorFlow (v2.0 or later)

Tensors created with a wrapper

  *  `tf.Variable`
  *  `tf.constant`
  *  `tf.placeholder`
  *  `tf.SparseTensor`

The most commonly used is `tf.Variable`.

Along with TF tensors, in PyTorch we can also perform operations and convert to and from NumPy arrays.

In [ ]:
import tensorflow as tf

In [ ]:
x_tf = tf.Variable(25, dtype=tf.int16) # dtype is optional
x_tf

In [ ]:
x_tf.shape

TensorShape([])

In [ ]:
y_tf = tf.Variable(3, dtype=tf.int16)

In [ ]:
x_tf + y_tf # operator overload - being able to use base python `+` to add two tf tensors also(Numpy, PyTorch)

In [ ]:
tf_sum = tf.add(x_tf, y_tf)
tf_sum

In [ ]:
tf_sum.numpy() # Numpy operations automatically convert tensors to NumPy arrays and vice versa.

28

In [ ]:
type(tf_sum.numpy())

numpy.int16

In [ ]:
tf_float = tf.Variable(25, dtype=tf.float16)
tf_float

#### Vectors
*  One dimensional array of numbers
*  Denoted in lowercase, italics, bold, e.g.: **x**
*  Vector elements are arranged in an order, so an element can be accessed by its` index.
  *  The elements of the vector are scalars, not bold, such as $x_{2}$
*  A vector represents a point in space:
  *  A vector of length two represents a location in a 2D matrix. Example: $[x_{1}\ \ x_{2}] = [12\ \ 4]$

      ![2DVector.png]()

  *  A vector with length three represents a location in a 3D cube.
  *  A vector with length n represents a location in a n-dimensional tensor.

#### Vectors (Rank 1 Tensors) in NumPy

In [ ]:
import numpy as np

* Note: We need numpy or some other numerical library such as tensor flow or pytorch because we cannot create arrays in base python.

In [ ]:
x = np.array([25, 2, 5]) # dtype is optional dtype=np.float16
x

array([25,  2,  5])

In [ ]:
len(x)

3

In [ ]:
x.shape

(3,)

In [ ]:
type(x)

numpy.ndarray

In [ ]:
x[0]

25

In [ ]:
type(x[0])

numpy.int64

#### Vector Transposition

In [ ]:
# Transposing a regular 1-D array has no effect.
x_t = x.T
x_t

array([25,  2,  5])

In [ ]:
x_t.shape

(3,)

In [ ]:
# There is a change when we use the nested "matrix-style" brackets:
# This gives us an extra dimension. Like working with a matrix.
y = np.array([[25, 2, 5]])
y

array([[25,  2,  5]])

In [ ]:
y.shape

(1, 3)

In [ ]:
# We can transpose a matrix with a dimensional length 1.
# Now it is a column vector.
y_t = y.T
y_t

array([[25],
       [ 2],
       [ 5]])

In [ ]:
y_t.shape # This is now a column vector with 3 rows and 1 column

(3, 1)

In [ ]:
# Transpose back to a row vector.
y_t.T

array([[25,  2,  5]])

In [ ]:
y_t.T.shape

(1, 3)

#### Zero Vectors
Zero vectors have no effect if added to another vector

In [ ]:
z = np.zeros(3)
z

array([0., 0., 0.])

#### Vectors in PyTorch and TensorFlow

In [ ]:
x_pt = torch.tensor([25, 2, 5])
x_pt

tensor([25,  2,  5])

In [ ]:
x_tf = tf.Variable([25, 2, 5])
x_tf

#### Norms
*  Vectors represent a magnitude and direction from the origin.
*  **Norms** are functions that quantify vector magnitude.
* The most common norm is the $L^2$ Norm (Euclidean norm).  

\begin{equation*}
\|\mathbf{x}\|_2 = \sqrt{\sum_{i}\space x_i^2}
\end{equation*}

*  This measures the simple Euclidean distance from the origin.
*  This is the most common norm in Machine Learning. Can be expressed as $\|\mathbf{x}\|$

$\|\mathbf{x}\|_2$ Norm

In [ ]:
x

array([25,  2,  5])

In [ ]:
# Claculate the $L^2$ Norm
(25**2 + 2**2 + 5**2)**(1/2)

25.573423705088842

In [ ]:
np.linalg.norm(x)

25.573423705088842

Therefore, if the units in this 3-dimensional vector space are meters, then the vector **x** has a length of 25.6 meters.

#### Unit Vectors
*  Unit vectors are a special case of a vector where its length is equal to one.
*  Therefore, **x** is a unit vector with "unit norm" if $\|\mathbf{x}\| = 1$

 ![UnitVector.png]()

#### Beyond the $L^2$ Norm
*  Other common norms used in ML.
*  The $L^1$ Norm - $\|\mathbf{x}\|_1$

\begin{equation*}
\|\mathbf{x}\|_1 = \sum_{i}\space |{x_i}|
\end{equation*}  

*  The $L^1$ Norm varies linearly at all locations whether near or far from the origin.
*  The $L^1$ Norm is used when the difference between zero and non-zero is important in our application.

In [ ]:
x

array([25,  2,  5])

In [ ]:
# Calculate the L_1 Norm
np.abs(25) + np.abs(2) + np.abs(5)

32

#### Squared $L^2$ Norm
*  Described mathematically as:  

\begin{equation*}
\|\mathbf{x}\|_2^2 = \sum_{i}\space x_i^2
\end{equation*}

*  It is computationaly cheaper to use the squared $L^2$ Norm than the $L^2$ Norm because the squared $L^2$ Norm is equal to $\mathbf{x}^T\mathbf{x}$
*  Also because we use the derivative to train many ML algorithms and in this case we only need to take the derivative of the individual element alone whereas with the $L^2$ Norm, we would need the entire **x** vector.
*  The disadvantage of using the squared $L^2$ Norm is that it grows slowly near the origin and can't be used when you need to distinguish between zero and near-zero.

In [ ]:
x

array([25,  2,  5])

In [ ]:
# Calculate the squared L^2 Norm
(25**2 + 2**2 + 5**2)

654

In [ ]:
# Using the dot product
np.dot(x, x)

654

#### Max Norm (or the $L^$ Norm)
This can be written mathematically as:

\begin{equation*}
\|\mathbf{x}\|_ = \max_i\space |x_i|
\end{equation*}

*  Used frequently in ML.
*  Returns the absolute value of the largest-magnitude element.

In [ ]:
x

array([25,  2,  5])

In [ ]:
np.max([np.abs(25), np.abs(2), np.abs(5)])

25

#### Generalized $L^p$ Norm
*  This is a way to generate any of the norms dicussed above.

*  This can be written mathmatically as:
\begin{equation*}
\|\mathbf{x}\|_p = (\sum_i\space |x_i|^p)^\frac{1}{p}
\end{equation*}

*  Just substitute in a 1, 2, $$ in place of $p$.
*  $p$ must be:
  *  A real number
  *  Greater than or equal to one
  *  Can derive $L^1$, $L^2$, and $L^$ norm formulae bu substituting for $p$
*  Norms, and particularly $L^1$ and $L^2$ are used to regularize objective functions.

### Basis, Orthogonal, and Orthonormal Vectors

#### Basis Vectors
*  Basis vectors can be scaled to represent *any* vector in a given vector space.
*  For example, basis (unit) vectors $i(1,0)$ and $j(0,1)$ can be scaled to a vector $v = 1.5i + 2j$.

![BasisVectors.png]()   ![scaledvector.png]()

#### Orthogonal Vectors
*  Two vectors $\mathbf{x}$ and $\mathbf{y}$ are orthogonal vectors if $\mathbf{x}^T\mathbf{y}=0$
*  The orthogonal vectors are at 90 angle to each other (assuming non-zero norms).
*  Given an *n*-dimensional space then there are max *n* mutually orthogonal vectors.
*  **Orthonormal** vectors are a special type of orthogonal vectors that all have a unit norm (an $L^2$ norm and $L^2$ distance of unit 1.
  *  The basis vectors above are an example of orthonormal vectors.

In [ ]:
# Create a vector i
i = np.array([1, 0])
i

array([1, 0])

In [ ]:
# Create a vector j
j = np.array([0, 1])
j

array([0, 1])

In [ ]:
# Perform the dot product on the vectors i and j
# These are orthogonal because the result is 0
np.dot(i, j)

0

### Matrices
*  Matrices are two-dimensional arrays of numbers.
*  Matrices are denoted in uppercase, italics, bold, e.g.: $\mathbf{X}$
*  With matrices, height is given priority ahead of width in notation, i.e.: $(n_{row}, n_{col})$
  *  If $\mathbf{X}$ has three rows and two columns, its shape is $(3, 2)$
*  Individual scalar elements are denoted in uppercase, italics only.
  *  This means the element in the top-right corner of the matrix $\mathbf{X}$ would be $\mathit{X}_{1,2}$
*  A colon can represent an entire row or column:
  *  The left column of matrix $\mathbf{X}$ is $\mathbf{X_{:,1}}$
  *  The middle row of matrix $\mathbf{X}$ is $\mathbf{X_{2,:}}$

\begin{equation*}
  \begin{bmatrix}
    \mathit{X}_{1,1} & \mathit{X}_{1,2} \\
    \mathit{X}_{2,1} & \mathit{X}_{2,2} \\
    \mathit{X}_{3,1} & \mathit{X}_{3,2} \\
  \end{bmatrix}
  \begin{bmatrix}
    25 & 2 \\
    5 & 26 \\
    3 & 7 \\
  \end{bmatrix}
\end{equation*}

#### Matrices (Rank 2 Tensors) in NumPy

In [ ]:
# Use array() with nested brackets:
X = np.array([[25,2], [5, 26], [3, 7]])
X

array([[25,  2],
       [ 5, 26],
       [ 3,  7]])

In [ ]:
X.shape

(3, 2)

In [ ]:
# Get the total number of elements in the matrix
X.size

6

In [ ]:
# Select the left column of matrix X (zero-indexed)
X[:, 0]

array([25,  5,  3])

In [ ]:
# Select the middle row of matrix X
X[1, :]

array([ 5, 26])

In [ ]:
# Select the first and second row and the first and second column
X[0:2, 0:2]

array([[25,  2],
       [ 5, 26]])

#### Matrices in PyTorch

In [ ]:
X_pt = torch.tensor([[25, 2], [5, 26], [3, 7]])
X_pt

tensor([[25,  2],
        [ 5, 26],
        [ 3,  7]])

In [ ]:
X_pt.shape

torch.Size([3, 2])

In [ ]:
X_pt[1, :]

tensor([ 5, 26])

#### Matrices in TensorFlow

In [ ]:
X_tf = tf.Variable([[25, 2], [5, 26], [3, 7]])
X_tf

<tf.Variable 'Variable:0' shape=(3, 2) dtype=int32, numpy=
array([[25,  2],
       [ 5, 26],
       [ 3,  7]], dtype=int32)>

In [ ]:
tf.rank(X_tf)

In [ ]:
tf.shape(X_tf)

In [ ]:
X_tf[1, :]

### Generic Tensor Notation
*  Higher rank tensors are denoted in upper-case, bold, italics, sans serif, e.g., $\mathbf{\mathit{\textsf{X}}}$
*  So if you have tensors in higher dimentions such as 4 or above, use sans serif font.
*  For example, in a 4-tensor $\mathbf{\mathit{\textsf{X}}}$, the element at position $(i, j, k, l)$ is denoted as $\mathbf{\mathit{\textsf{X}}}_{(i,j,k,l)}$

##### Higher-Rank Tensors
*  A higher rank tensor such as rank 4 are common
for images, where each dimension corresponds to:
  1.  The number od images in a training batch, e.g., 32
  2.  The image height in pixels, e.g., 28
  3.  The image width in pixels, e.g., 28
  4.  The number of color channels, e.g., 3 for a full color image (RGB)

In [ ]:
images_pt = torch.zeros([32, 28, 28, 3])

In [ ]:
#images_pt

In [ ]:
images_tf = tf.zeros([32, 28, 28, 3])

In [ ]:
#images_tf

#### Common Tensor Operations
*  Tensor Transposition
*  Basic Tensor Arithmetic
*  Reduction
*  The Dot Product

#### Tensor Transposition
*  The transpose of a scalar is itself, e.g.: $x^T = x$
*  The transpose of a vector converts a column vector to a row vector and vice versa.
*  Scalar and vector transposition are special cases of **matrix transposition**:
  *  Flip the axes over the main diagonal such that:

  \begin{equation*}
  \mathbf{(X^T)_{i,j} = \mathbf{(X)_{j,i}}}
  \end{equation*}

  \begin{align*}
  \hline
  \end{align*}

  \begin{equation*}
  \begin{bmatrix}
    \mathit{X}_{1,1} &\mathit{X}_{1,2} \\
    \mathit{X}_{2,1} & \mathit{X}_{2,2} \\
    \mathit{X}_{3,1} & \mathit{X}_{3,2} \\
  \end{bmatrix}^T =
  \begin{bmatrix}
    \mathit{X}_{1,1} & \mathit{X}_{2,1} & \mathit{X}_{3,1}\\
    \mathit{X}_{1,2} & \mathit{X}_{2,2} & \mathit{X}_{3,2} \\
  \end{bmatrix}
\end{equation*}

In [ ]:
# a matrix
X

array([[25,  2],
       [ 5, 26],
       [ 3,  7]])

In [ ]:
# a transform of the matrix
X.T

array([[25,  5,  3],
       [ 2, 26,  7]])

In [ ]:
X_pt.T # in pyTorch

tensor([[25,  5,  3],
        [ 2, 26,  7]])

In [ ]:
tf.transpose(X_tf) # in tensorflow

<tf.Tensor: shape=(2, 3), dtype=int32, numpy=
array([[25,  5,  3],
       [ 2, 26,  7]], dtype=int32)>

#### Basic Tensor Arithmetic
*  Adding or multiplying with a scalar applies to all elements in the tensor and the tensor shape is retained.

In [ ]:
X

array([[25,  2],
       [ 5, 26],
       [ 3,  7]])

In [ ]:
X * 2

array([[50,  4],
       [10, 52],
       [ 6, 14]])

In [ ]:
X + 2

array([[27,  4],
       [ 7, 28],
       [ 5,  9]])

In [ ]:
X * 2 + 2

array([[52,  6],
       [12, 54],
       [ 8, 16]])

In [ ]:
# In pyTorch
X_pt

tensor([[25,  2],
        [ 5, 26],
        [ 3,  7]])

In [ ]:
X_pt * 2 + 2 # The python operators are overloaded; we could also use torch.mul() or torch.add()

tensor([[52,  6],
        [12, 54],
        [ 8, 16]])

In [ ]:
torch.add(torch.mul(X_pt, 2), 2)

tensor([[52,  6],
        [12, 54],
        [ 8, 16]])

In [ ]:
# In tensorflow
X_tf

<tf.Variable 'Variable:0' shape=(3, 2) dtype=int32, numpy=
array([[25,  2],
       [ 5, 26],
       [ 3,  7]], dtype=int32)>

In [ ]:
X_tf * 2 + 2 # The python operators are overloaded; We can also use tf.multiply() and tf.add()

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[52,  6],
       [12, 54],
       [ 8, 16]], dtype=int32)>

In [ ]:
tf.add(tf.multiply(X_tf, 2), 2)

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[52,  6],
       [12, 54],
       [ 8, 16]], dtype=int32)>

*  If two tensors have the same size, operations are often by default applied element-wise. This is **not matrix multiplication**, but is called the **Hadamard product** or simply the **element-wise product**.
*  The mathematical notation is $\mathbf{\mathit{A}}\odot\mathbf{\mathit{B}}$

In [ ]:
X

array([[25,  2],
       [ 5, 26],
       [ 3,  7]])

In [ ]:
A = X + 2
A

array([[27,  4],
       [ 7, 28],
       [ 5,  9]])

In [ ]:
A + X

array([[52,  6],
       [12, 54],
       [ 8, 16]])

In [ ]:
A * X # not matrix multiplication

array([[675,   8],
       [ 35, 728],
       [ 15,  63]])

In [ ]:
# In pyTorch
A_pt = X_pt + 2
A_pt

tensor([[27,  4],
        [ 7, 28],
        [ 5,  9]])

In [ ]:
A_pt + X_pt

tensor([[52,  6],
        [12, 54],
        [ 8, 16]])

In [ ]:
A_pt * X_pt

tensor([[675,   8],
        [ 35, 728],
        [ 15,  63]])

In [ ]:
# In Tensorflow
A_tf = X_tf + 2
A_tf

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[27,  4],
       [ 7, 28],
       [ 5,  9]], dtype=int32)>

In [ ]:
A_tf + X_tf

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[52,  6],
       [12, 54],
       [ 8, 16]], dtype=int32)>

In [ ]:
A_tf * X_tf

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[675,   8],
       [ 35, 728],
       [ 15,  63]], dtype=int32)>

#### Reduction
Calculating the sum across all elements of a tensor is a common operation. For example:
*  For vector **x** of length *n* we can calculate the sum as:
\begin{equation}
\sum_{i=1}^{n} x_i
\end{equation}
*  For a matrix ***X*** with *m* by *n* dimensions, we calculate:
\begin{equation}
\sum_{i=1}^{m}\sum_{j=1}^{n} \mathbf{\mathit{X}}_{i,j}
\end{equation}

In [ ]:
X

array([[25,  2],
       [ 5, 26],
       [ 3,  7]])

In [ ]:
X.sum()

68

In [ ]:
# In pyTorch
torch.sum(X_pt)

tensor(68)

In [ ]:
# In Tensorflow
tf.reduce_sum(X_tf)

In [ ]:
# This can be done along one specific axis alone, e.g.:
X.sum(axis=0) # sum all rows

array([33, 35])

In [ ]:
X.sum(axis=1) # sum all columns

array([27, 31, 10])

In [ ]:
# using pyTorch
torch.sum(X_pt, 0) # sum rows

tensor([33, 35])

In [ ]:
torch.sum(X_pt, 1) # sum columns

tensor([27, 31, 10])

In [ ]:
# using Tensorflow
tf.reduce_sum(X_tf, 0) # sum rows

In [ ]:
tf.reduce_sum(X_tf, 1) # sum columns

Many other types of reduction can be applied along all or a selection of axes, such as:
*  maximum
*  minimum
*  mean
*  product

#### The Dot Product
If we have two vectors ($\vec{x}$ and $\vec{y}$) with the same length $n$, we can calculate the dot product between them. This is annotated in different ways including the following:
*  $\vec{x}\cdot\vec{y}$
*  $\vec{x}^T\vec{y}$
*  $\vec{x}, \vec{y}\rangle$

No matter what notation we use, the calculation is the same. We will calculate products in an element-wise fashion and then sum reductively across the products to a scalar value:
\begin{equation}
\vec{x}\cdot\vec{y} = \sum_{i=1}^{n} x_i y_i
\end{equation}

The dot product is ubiquitous in deep learning: It is performed at every artificial neuron in a deep neural network, which can be made up of millions (or orders of magnitude more) of these neurons.

In [ ]:
x

array([25,  2,  5])

In [ ]:
y = np.array([0, 1, 2])
y

array([0, 1, 2])

In [ ]:
# The dot product of x and y
25*0 + 2*1 + 5*2

12

In [ ]:
np.dot(x, y)

12

In [ ]:
# Using pyTorch
x_pt

tensor([25,  2,  5])

In [ ]:
y_pt = torch.tensor([0, 1, 2])
y_pt

tensor([0, 1, 2])

In [ ]:
np.dot(x_pt, y_pt)

12

In [ ]:
torch.dot(torch.tensor([25, 2, 5.]), torch.tensor([0, 1, 2.])) # a lot of pyTorch operations do not work on int type pyTorch tensors

tensor(12.)

In [ ]:
# Using tensorflow
x_tf

In [ ]:
y_tf = tf.Variable([0, 1, 2])
y_tf

In [ ]:
np.dot(x_tf, y_tf)

12

In [ ]:
tf.reduce_sum(tf.multiply(x_tf, y_tf))

#### Review of Key Concepts
*  tensor
  *  scalar - 0 dimensional form
  *  vector - 1 dimensional form
  *  matrix - 2 dimensional form
  *  n-tensor - n dimensional form (3 tensor, 4 tensor, ...)
*  Common operations across tensors
  *  transposition - vector or matrix
  *  norm - quantifies the magnitude of a vector tensor
  *  Hadamard product - element-wise product
  *  dot product - vectors

#### Solving Linear Systems
*  The Substitution Strategy
  *  Use this method when there is a variable in the system with a coefficient of 1. For example, when solving for $x$ and $y$ in the following system:

  \begin{equation*}
  y = 3x \\
  -5x + 2y = 2 \\
  \end{equation*}

  *  We just substitute $y$ with $3x$ in the second equation. Then solve for $x$.
  *  Then substitute the solution for $x$ into the first equation and solve for $y$.
  *  The the solution to the system (the point where the lines cross) is

   \begin{equation*}
   \therefore\space\space(x, y) = (2, 6)
   \end{equation*}

*  The Elimination Strategy
  *  Usually the best option if no variable in the system of equations has a coefficient of 1.
  *  This method uses the *addition property* of equations to eliminate variables.
    *  If required, we can multiply one or both equations to make elimination of a variable possible.

  For example, let us solve for the unknowns in the following system:

  \begin{equation*}
  \color{red}{2x} - 3y = 15 \\
  \color{red}{4x} + 10y = 14
  \end{equation*}

  We can take the first equation and multiply it by $\color{red}{-2}$ and then add the equations together.

  \begin{equation*}
  \color{red}{-4x} + 6y = -30 \\
  \color{red}{4x} + 10y = 14
  \end{equation*}

  Now we have:

  \begin{equation*}
  \color{red}{0x} + 16y = -16 \\
  \end{equation*}

  Then we solve for $y$:

  \begin{equation*}
  y = -1 \\
  \end{equation*}

  Then we solve for $x$ in the first equation:
  
  \begin{equation*}
  2x -3(-1) = 15 \\
  2x + 3 = 15 \\
  2x = 12 \\
  x = 6 \\
  \end{equation*}

  And we get the solution (intersection of the two lines) of the system:

  \begin{equation*}
  \therefore\space(x, y) = (6, -1)
  \end{equation*}

#### Matrix Multiplication
*  Matrix-by-Vector Multiplication
*  Matrix-by-Matrix Multiplication
*  Symmetric and Identity Matrices

*  Matrix Multiplication
  *  If you want to do matrix multiplication between two matrix tensors then the number of columns the first matrix ($\mathbf{A}$) must be equal to the number of rows in the second matrix ($\mathbf{B}$).
  *  The result of the mutiplication ($\mathbf{C}$) will have as many rows as matrix A and as many columns as matrix ($\mathbf{B}$).
  *  The elements of the result ($\mathbf{C}$) will have first an element wise product and then a summation operation.

  \begin{equation*}
  \mathbf{C} = \mathbf{A} \times \mathbf{B}
  \end{equation*}

  \begin{equation*}
  \mathbf{C}_{i,k} = \sum_{j}\mathbf{A}_{i,j} \times \mathbf{B}_{j,k}
  \end{equation*}

*  Matrix-by-Vector Multiplication

\begin{equation*}
  \begin{bmatrix}
  3 & 4 \\
  5 & 6 \\
  7 & 8 \\
  \end{bmatrix}
  \begin{bmatrix}
  1 \\
  2 \\
  \end{bmatrix} =
  \begin{bmatrix}
  (31) + (4\times2) \\
  (5\times1) + (6\times2) \\
  (7\times1) + (8\times2)
  \end{bmatrix} =
  \begin{bmatrix}
  11 \\
  17 \\
  23
  \end{bmatrix}
\end{equation*}

In [ ]:
# Matrix Multiplication with a Vector in Python
A = np.array([ [3, 4], [5, 6], [7, 8] ])
A

array([[3, 4],
       [5, 6],
       [7, 8]])

In [ ]:
b = np.array([1, 2])
b

array([1, 2])

In [ ]:
np.dot(A, b) # even though dot products are between vectors only

array([11, 17, 23])

In [ ]:
# Using pyTorch
A_pt = torch.tensor( [ [3, 4], [5, 6], [7, 8] ] )
A_pt

tensor([[3, 4],
        [5, 6],
        [7, 8]])

In [ ]:
b_pt = torch.tensor([1, 2])
b_pt

tensor([1, 2])

In [ ]:
torch.matmul(A_pt, b_pt) # like np.dot(), automatically infers dims to do dot product, matvec, or matrix multiplication

tensor([11, 17, 23])

In [ ]:
# Using tensorflow
A_tf = tf.Variable( [ [3, 4], [5, 6], [7, 8] ] )
A_tf

<tf.Variable 'Variable:0' shape=(3, 2) dtype=int32, numpy=
array([[3, 4],
       [5, 6],
       [7, 8]], dtype=int32)>

In [ ]:
b_tf = tf.Variable([1, 2])
b_tf

In [ ]:
tf.linalg.matvec(A_tf, b_tf)

#### Matrix-by-Matrix Multiplication

\begin{equation*}
  \begin{bmatrix}
  3 & 4 \\
  5 & 6 \\
  7 & 8 \\
  \end{bmatrix}
  \begin{bmatrix}
  1 & 9 \\
  2 & 0 \\
  \end{bmatrix} =
  \begin{bmatrix}
  (31) + (4\times2) & (3\times9) + (4\times0) \\
  (5\times1) + (6\times2) & (5\times9) + (6\times0) \\
  (7\times1) + (8\times2) & (7\times9) + (8\times0) \\
  \end{bmatrix} =
  \begin{bmatrix}
  11 & 27 \\
  17 & 45 \\
  23 & 63 \\
  \end{bmatrix}
\end{equation*}

In [ ]:
# Matrix Multiplication with two Matrices
A

array([[3, 4],
       [5, 6],
       [7, 8]])

In [ ]:
B = np.array([ [1, 9], [2, 0] ])
B

array([[1, 9],
       [2, 0]])

In [ ]:
np.dot(A, B)

array([[11, 27],
       [17, 45],
       [23, 63]])

*  Note that matrix multiplication is not commutative (i.e., $AB \neq BA$)

In [ ]:
#np.dot(B, A)

In [ ]:
# Using pyTorch
B_pt = torch.from_numpy(B)
B_pt

tensor([[1, 9],
        [2, 0]])

In [ ]:
# another way to create the same tensor with transposition
B_pt = torch.tensor([ [1, 2], [9, 0] ]).T
B_pt

tensor([[1, 9],
        [2, 0]])

In [ ]:
torch.matmul(A_pt, B_pt) #

tensor([[11, 27],
        [17, 45],
        [23, 63]])

In [ ]:
# using tensorflow
B_tf = tf.convert_to_tensor(B, dtype=tf.int32)
B_tf

<tf.Tensor: shape=(2, 2), dtype=int32, numpy=
array([[1, 9],
       [2, 0]], dtype=int32)>

In [ ]:
tf.matmul(A_tf, B_tf)

<tf.Tensor: shape=(3, 2), dtype=int32, numpy=
array([[11, 27],
       [17, 45],
       [23, 63]], dtype=int32)>

#### Review of Key Concepts
*  tensor
  *  scalar - 0 dimensional form
  *  vector - 1 dimensional form
  *  matrix - 2 dimensional form
  *  n-tensor - n dimensional form (3 tensor, 4 tensor, ...)
*  Common operations across tensors
  *  transposition - vector or matrix
  *  norm - quantifies the magnitude of a vector tensor
  *  Hadamard product - element-wise product
  *  dot product - vectors
*  matrices
  *  mutiplication

#### Symmetric and Identity Matrices
* Symmetric Matrices
  * Symmetric matrices are a special matrix case with the following properties:
    *  The matrix must be square

    \begin{bmatrix}
    0 & \color{blue}{1} & \color{green}{2} \\
    \color{blue}{1} & 7 & \color{purple}{8} \\
    \color{green}{2} & \color{purple}{8} & 9
    \end{bmatrix}

    * The matrix must be equal to its transpose. Identical elements must mirror each other across the main diagonal.

    \begin{equation*}
    X^T = X
    \end{equation*}

In [ ]:
# Symmetric Matrices is NumPy
X_sym = np.array( [ [0, 1, 2], [1, 7, 8], [2, 8, 9] ] )
X_sym

array([[0, 1, 2],
       [1, 7, 8],
       [2, 8, 9]])

In [ ]:
X_sym.T # The transpose is the same

array([[0, 1, 2],
       [1, 7, 8],
       [2, 8, 9]])

In [ ]:
# Does the transpose of the matrix equal the matrix?
X_sym.T == X_sym

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

#### Identity Matrices
*  An identity matrix is a symmetric matrix where all the elements along the diagonal are 1s.
* All the other elements are 0s.
* Notation: $\mathbf{\mathit{I}}_n$ where $n =$ height(or width). Therefore, this identity matrix can be identified as $\mathbf{\mathit{I}}_4$.

\begin{bmatrix}
1 & 0 & 0 & 0 \\
0 & 1 & 0 & 0 \\
0 & 0 & 1 & 0 \\
0 & 0 & 0 & 1 \\
\end{bmatrix}

* A n-length vector will be unchanged if you mutiply it by $\mathbf{\mathit{I}}_n$

In [ ]:
# Using pyTorch
I = torch.tensor([ [1, 0, 0], [0, 1, 0], [0, 0, 1] ])
I

tensor([[1, 0, 0],
        [0, 1, 0],
        [0, 0, 1]])

In [ ]:
x_pt = torch.tensor([25, 2, 5])
x_pt

tensor([25,  2,  5])

In [ ]:
# If we multiply the n-length tensor by its identity matrix it is unchanged
torch.matmul(I, x_pt)

tensor([25,  2,  5])

#### Machine Learning and Deep Learning Applications Example
*  A generalized regression model:

\begin{equation*}
\color{blue}{y} = \color{green}{a} + \color{orange}{b}{x_1} + \color{brown}{c}{x_2} + \dots + \color{grey}{m}{x_m} \\
\end{equation*}

* Specific equations describing individual data points in the dataset.
* So if we have ten houses (data points) in the dataset then we would have ten rows in the system of equations.
  * $\color{blue}{y}$ represents house price
  * $\color{green}{a}$ represents the average house price (y-int)
  * The $x_{n,m}$ represents the features of each house. For example, $x_{1,1}$ could represent the distance to schools, and $x_{1,2}$ could represent the number of bedrooms for house $y_1$ and so on.
  * $\color{green}{a}, \color{orange}{b}, \color{brown}{c} + \dots + \color{grey}{m}$ are the unknown model parameters that we will learn by training the regression model.

\begin{bmatrix}
\color{blue}{y_1} & | & \color{green}{a} + \color{orange}{b}{x_{1,1}} + \color{brown}{c}{x_{1,2}} + \dots + \color{grey}{m}{x_{1,m}} \\
\color{blue}{y_2} & | & \color{green}{a} + \color{orange}{b}{x_{2,1}} + \color{brown}{c}{x_{2,2}} + \dots + \color{grey}{m}{x_{2,m}} \\
\vdots & | & \dots \\
\color{blue}{y_n} & | & \color{green}{a} + \color{orange}{b}{x_{n,1}} + \color{brown}{c}{x_{n,2}} + \dots + \color{grey}{m}{x_{n,m}} \\
\end{bmatrix}


* Note: $x$ extends rightward to $m-1$ and not $m$ because of the presence of $a$ on the far left. It is more intuative to show it this way.

##### Matrix Multiplication
*  The matrix above can be created using matrix multiplication. It is easier to represent using matrix multiplication.
\begin{equation*}
\begin{bmatrix}
\color{blue}{y_1} \\
\color{blue}{y_2} \\
\vdots \\
\color{blue}{y_n}
\end{bmatrix}
=
\begin{bmatrix}
1 & \color{purple}{x_{1,1}} & \color{purple}{x_{1,2}} & \dots & \color{purple}{x_{1,m}}\\
1 & \color{purple}{x_{2,1}} & \color{purple}{x_{2,2}} & \dots & \color{purple}{x_{2,m}}\\
\vdots & \vdots & \vdots & \vdots & \vdots \\
1 & \color{purple}{x_{n,1}} & \color{purple}{x_{n,2}} &\dots & \color{purple}{x_{n,m}}
\end{bmatrix}
\begin{bmatrix}
\color{green}{a} \\
\color{orange}{b} \\
\color{brown}{c} \\
\vdots \\
\color{grey}{m}
\end{bmatrix}
\end{equation*}

* The matrix is $n$ cases tall and $m$ features wide.
* The matrix represents $m$-dimensional space.

#### Special Matrices and Matrix Operations
*  The Frobenius Norm
*  Matrix Inversion
*  Diagonal Matrices
*  Orthogonal Matrices
*  The Trace Operator

#### The Frobenius Norm
*  The Frobenius Norm measures the magnitude of a matrix away from the origin.
* The Frobenius Norm is described mathematically as:
\begin{equation*}
||\mathbf{X}||_F = \sqrt{\sum_{i,j}\mathbf{X}_{i,j}^2}
\end{equation*}

* Analogous to the $L^2$ Norm of a vector.
* Measures the size of the matrix in terms of the Euclidean distance.
  *  It is the sum of the magnitude of all the vectors in $\mathbf{X}$.

In [ ]:
# Calculate the Frobenius Norm
X = np.array([ [1, 2], [3, 4] ])
X

array([[1, 2],
       [3, 4]])

In [ ]:
F_Norm = (1**2 + 2**2 + 3**2 + 4**2)**(1/2)
F_Norm

5.477225575051661

In [ ]:
np.linalg.norm(X) # same function as vector L2 norm

5.477225575051661

In [ ]:
# Using pyTorch
X_pt = torch.tensor([ [1, 2], [3, 4.] ]) # torch.norm() supports floats only

In [ ]:
torch.norm(X_pt)

tensor(5.4772)

In [ ]:
# Using tensorflow
X_tf = tf.Variable([ [1, 2], [3, 4.] ]) # tf.norm() only supports floats

In [ ]:
tf.norm(X_tf)

#### Matrix Inversion
*  A cool way to solve linear equations.
*  An alternative method to manually solving with substitution or elimination.
*  The **Matrix Inverse** of $\matrix{X}$ is denoted as $\matrix{X}^{-1}$.
  *  Satisfies the property $\matrix{X}^{-1}\matrix{X} = \matrix{I}_n$ where the inverse of a matrix times the original matrix is equal to the identity matrix.
* Remember the regression formula can be represented as:
\begin{equation*}
\vec{y} = \matrix{X}\vec{w}
\end{equation*}
  where $\vec{w}$ is the vector of weights $a$ through $m$
  * In the equation we know the outcomes $\vec{y}$, house prices.
  * We know the features $\matrix{X}$, predictors like number of bedrooms.
  * Vector $\vec{w}$ contains the unknowns, the model's learnable parameters.
* Assuming $\matrix{X}^{-1}$ exists, matrix inversion can solve for $\vec{w}$.
\begin{equation*}
\matrix{X}\vec{w} = \vec{y} \\
\matrix{X}^{-1}\matrix{X} = \matrix{X}^{-1}\vec{y} \\
\matrix{I}_n\vec{w} = \matrix{X}^{-1}\vec{y} \\
\vec{w} = \matrix{X}^{-1}\vec{y}
\end{equation*}

* A simple example:
\begin{equation*}
4b + 2c = 4 \\
-5b -3c = -7 \\
\matrix{X} =
\begin{bmatrix}
4 & 2 \\
-5 & -3
\end{bmatrix}
\vec{y} =
\begin{bmatrix}
4 \\
-7
\end{bmatrix}
\vec{w} =
\begin{bmatrix}
b \\
c
\end{bmatrix}
= \matrix{X}^{-1}\vec{y}
\end{equation*}

In [ ]:
# Matrix inversion numPy
X = np.array([ [4, 2], [-5, -3] ])
X

array([[ 4,  2],
       [-5, -3]])

In [ ]:
Xinv = np.linalg.inv(X)
Xinv

array([[ 1.5,  1. ],
       [-2.5, -2. ]])

In [ ]:
y = np.array([4, -7])
y

array([ 4, -7])

In [ ]:
w = np.dot(Xinv, y)
w

array([-1.,  4.])

 So b = -1 and c = 4. \\
 We can show that $\vec{y}= \matrix{X} \vec{w}$ by using the dot product.

In [ ]:
np.dot(X, w)

array([ 4., -7.])

In [ ]:
# Using PyTorch
torch.inverse(torch.tensor([ [4, 2], [-5, -3.] ]))

tensor([[ 1.5000,  1.0000],
        [-2.5000, -2.0000]])

In [ ]:
# Using tensorflow
tf.linalg.inv(tf.Variable([ [4, 2], [-5, -3.] ]))

<tf.Tensor: shape=(2, 2), dtype=float32, numpy=
array([[ 1.4999998,  0.9999998],
       [-2.4999995, -1.9999996]], dtype=float32)>

*  Matrix Inversion only works if the Matrix **is not** 'singular'
*  This means that all of the columns of the matrix must be linearly independent.
  *  The columns of a matrix are not linearly indenpendent if there are two lines that are parallel to each other. For example, if one column is [1, 2], another column cannot be a multiple such as [2, 4], this would mean the columns are parallel to each other (no solution), or identical such as another column with [1, 2] (infinite solution).

*  Also, the matrix inversion can only be calculated if the matrix is square where the number of rows is equal to the number of columns. Where, $n_{row} = n_{col}$ also refered to as 'vector span' = 'matrix range'
  *  An overdetermined matrix is one where $n_{rows} \gt n_{col}$ which means there are more equations than dimensions ($n_{equations} \gt n_{dimensions}$. For example, if we have two columns then we have a two dimensional system. But if we also have three rows this means that we will have three lines in two dimensional space and more than one point where the lines cross (multiple solutions), meaning overdetermined system.
  *  An underfetermined system is the case where the number of rows is less than the number of columns, $n_{rows} \lt n_{col}$ which means there are less equations than dimensions, $n_{equations} \lt n_{dimensions}$. If we only have one equation in two dimensions then this is a single line (infinite solutions) and thus an underdetermined system.
*  Note: Solving an equation may still be possible by other means if the matrix cannot be inverted.

In [ ]:
# What happens when we try to perform a matrix inversion on a singular matrix
X_singular = np.array([ [-4, 1], [-8, 2] ]) # the columns are multiples of each other (not linearly independent)
X_singular

array([[-4,  1],
       [-8,  2]])

In [ ]:
# Uncomment this line of code to see the 'singular matrix' error
#Xinv = np.linalg.inv(X_singular)

In [ ]:
# Try to invert a non square matrix
X_nonSquare = np.array([ [1, 2, 3], [4, 5, 6] ])
X_nonSquare

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
#X_nonSquare_inv = np.linalg.inv(X_nonSquare)

#### Diagonal Matrices
*  A diagonal matrix has non-zero elements along the main diagonal and zeros everywhere else.
* An identity matrix is an example of a diagonal matrix.
*  If the diagonal matrix is square, then it can be denoted as $diag(\vec{x}$) where $\vec{x}$ is a vector of the main diagnonal elements.
* Why are diagonal matrices important? This is because they are computationally efficient:
  *  Mutiplication of $diag(\vec{x}$)$\vec{y}$ = $\vec{x}\odot\vec{y}$
  *  Inversion of $diag(\vec{x})^{-1}$ = $diag[\frac{1}{\vec{x}_1}, \dots,\frac{1}{\vec{x}_n}]^T$
    *  This is why you cannot have a zero along any diagonal element.
* We can still have non-square diagonal matrices and they will still be computationally efficient.
  * If the numbers of rows(height) is greater than the number of columns (width), then we can just add zeros to make it square.
  *  If there are more columns than rows we can just remove zeros to make it square.

#### Orthogonal Matrices
*  Recall the orthonormal vectors where we had two basis vectors i(1, 0) and j(0, 1) on the x-y plane. These two basis vectors are orthogonal to each other. If we take the dot product of the two basis vectors we get 0. Both i and j have an L2 Norm of length 1.
*  In orthogonal matrices, orthonormal vectors:
  *  Make up all the rows.
  *  Make up all the columns.
*  This means $\matrix{A^T}\matrix{A} = \matrix{A}{A^T}= \matrix{I}$
* This also means that $\matrix{A^T}=\matrix{A^{-1}}\matrix{I} = \matrix{A^{-1}} $
* This is important in machine learning because calculating $\matrix{A^T}$ is computationally cheap, and if we are dealing with orthogonal matrices, calculating $\matrix{A^{-1}}$ is also computationally cheap referencing the relationship above.

#### The Trace Operator
* The trace operator is the sum of the diagonal elements of a matrix:
\begin{equation*}
\sum_i\matrix{A_{i,i}}
\end{equation*}

In [ ]:
A = np.array([ [25, 2], [5, 4] ])
A

array([[25,  2],
       [ 5,  4]])

In [ ]:
# The trace operator
25 + 4

29

In [ ]:
np.trace(A)

29

##### Useful properties of the trace operator
* $Tr(\matrix{A}) = Tr(\matrix{A^T})$
*  Assuming matrices are square and line up:
  * $Tr(\matrix{ABC}) = Tr(\matrix{CAB})=Tr(\matrix{BCA})$
* The trace operator can provide a convenient way to calculate a matrix Frobenius norm:
\begin{equation*}
||\matrix{A}||_F = \sqrt{Tr(\matrix{A}\matrix{A^T})}
\end{equation*}

In [ ]:
# Example using pyTorch
A_p = torch.tensor([ [-1., 2], [3, -2], [5, 7] ])
A_p

tensor([[-1.,  2.],
        [ 3., -2.],
        [ 5.,  7.]])

In [ ]:
A_pT = torch.transpose(A_p, 0, 1)
A_pT

tensor([[-1.,  3.,  5.],
        [ 2., -2.,  7.]])

In [ ]:
X = torch.matmul(A_p, A_pT)
X

tensor([[ 5., -7.,  9.],
        [-7., 13.,  1.],
        [ 9.,  1., 74.]])

In [ ]:
X_Tr = torch.trace(X)
X_Tr

tensor(92.)

In [ ]:
X_Fn = torch.sqrt(X_Tr)
X_Fn

tensor(9.5917)

In [ ]:
Fn = torch.norm(A_p)
Fn

tensor(9.5917)